<!-- _base_feature -->

<div class="container">

<%= render partial: 'public/post_header_base_feature', locals: { post: @post } %>

<article class="post-<%= @post.id %>">

	<aside class="col4">
		<div class="inner">

			<div class="post-byline">
				<%= render partial: 'public/post_byline', locals: { post: @post } %>
			</div>
			<% if @post.metadata_provider.produced_by.blank? %>
				<div class="post-byline-shim"></div>
			<% end %>
			<% if @post.metadata_provider.produced_by.present? %>
				<div class="post-short-rule"></div>
				<div class="post-producers">
					<%= @post.metadata_provider.produced_by %>
				</div>
			<% end %>

			<%= render partial: 'public/post_share_tools', locals: {post: @post} %>

			<% if @post.rubric.present? and @post.rubric.sidebar_description.present? %>
				<div class="post-rubric-description">
					<%= @post.rubric.sidebar_description.html_safe %>
				</div>
			<% end %>

		</div>
	</aside>

	<%= raw PostRenderer.new(@post).render() %>

	<%= render partial: 'public/post_footer', locals: { post: @post } %>

</article>

<%= raw @post.inject_html if @post.inject_html.present? %>

</div>
