<style>
.static-page .paypal p {
    font-size: 16px;
    padding-right: 2px;
    font-family: PressuraLight;
    text-transform: uppercase;
    line-height: 1.5em;
}
</style>
<% content_for(:title) {
  ["Donate", "The Marshall Project"].join(" | ")
} %>

<% content_for(:head) do %>
<meta property="og:type" content="article">
<meta property="og:site_name" content="The Marshall Project">
<meta property="article:publisher" content="https://www.facebook.com/TheMarshallProject.org">
<meta property="og:title" content="Donate to The Marshall Project">
<meta property="og:description" content="The Marshall Project is a nonprofit news organization covering the U.S. criminal justice system.">
<meta property="og:image" content="https://s3.amazonaws.com/tmp-uploads-1/social/mp-fb-og.png">
<% end %>

<% content_for(:canonical_url) { "https://www.themarshallproject.org/donate" } %>

<% content_for(:head) do %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>Stripe.setPublishableKey("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");</script>
<%= javascript_include_tag 'donate' %>
<% end %>
<div class="light-on-dark">
<div class="container donate-container page-margin static-page">
  <article>
    <aside class="col4">
      <div class="inner">
        <div class="static-logo">
          <%= image_tag "static-m.svg" %>
        </div>
        <div class="static-title">
          Donate
        </div>
        <div class="static-desc">

          The Marshall Project is a <span style=" white-space: nowrap;">501(c)(3)</span> organization. Our tax identification number is <span style=" white-space: nowrap;">46-4353634.</span> Your contribution is tax deductible to the fullest extent of the law. <br><br>

          <div class="paypal">
            <div class="paypal-label" style="margin-bottom:10px;">
              We also accept PayPal:
            </div>
            <div class="paypal-form" style="display:inline;">
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="3EGLDNCUL7U9J">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="The Marshall Project">
                <input type="hidden" name="item_number" value="themarshallproject.org <%= params[:via] %>">
                <input type="hidden" name="no_note" value="0">
                <input type="hidden" name="cn" value="Add special instructions to the seller:">
                <input type="hidden" name="no_shipping" value="2">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHosted">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>

          <br>

          To donate by mail please send your check or money order payable to “The Marshall Project.”<br><br>
          If you have any questions or would like additional information about other ways to give please contact: <br><br>

          <span>Kelli Payne</span><br>
          Director of Development<br>
          The Marshall Project<br>
          156 West 56th Street, Suite 701<br>
          New York, NY 10019<br>
          Tel: 212-803-5271<br>
          <a href="mailto:kpayne@themarshallproject.org" style="color: #ff0b3a; text-transform: uppercase;">kpayne@themarshallproject.org</a><br><br>

          <div style="margin-top:30px;">The Marshall Project does not sell, trade or share any donor information</div>

        </div>
      </div>
    </aside>
    <div class="static-content">

    <div class="static-anchor-shim">
      <a name="form" class="static-anchor-land"></a>
    </div>
    <h1>Support Us</h1>
      <p>Criminal justice needs a new story. Help us write it.</p>

      <h3>&nbsp</h3>
          <div class="letter-field">
            <span>*</span> = Required Field<br><br>
          </div>



    <%= form_tag '#', class: "donation-form" do %>
      <span class="payment-errors"></span>

        <div class="donate-cols-container">
        <div class="donate-cols-2">

            <div class="letter-field">
              First Name <span>*</span>
            </div>
            <input class="form-input" type="text" size="20" name="donate[first_name]" />

        </div>
        <div class="donate-cols-2">

            <div class="letter-field">
              Last Name <span>*</span>
            </div>
            <input class="form-input" type="text" size="20" name="donate[last_name]" />
        </div>
        </div>


        <div class="donate-cols-container">
          <div class="donate-cols-2">
        <div class="letter-field">
          Email <span>*</span>
        </div>
        <input class="form-input" type="text" size="20" name="donate[email]" />
         </div>
      <div class="donate-cols-2">
        <div class="letter-field">
          Phone <span>*</span>
        </div>
        <input class="form-input" type="text" size="20" name="donate[phone]" />
      </div>
    </div>
<div class="clear"></div>
        <div class="donate-cols-container">
          <div class="donate-cols-2">
         <div class="letter-field">
          Address 1 <span>*</span>
        </div>
        <input class="form-input" type="text" size="20" name="donate[address1]" />
      </div>
          <div class="donate-cols-2">
        <div class="letter-field">
          Address 2
        </div>
        <input class="form-input" type="text" size="20" name="donate[address2]" />
      </div>
    </div>
    <div class="clear"></div>
        <div class="donate-cols-container">
          <div class="donate-cols">
            <div class="letter-field">
              City <span>*</span>
            </div>
            <input class="form-input" type="text" size="20" name="donate[city]" />
          </div>
        <div class="donate-cols-container">
          <div class="donate-cols">
            <div class="letter-field">
              State <span>*</span>
            </div>
            <input class="form-input" type="text" size="20" name="donate[state]" />
          </div>
        <div class="donate-cols-container">
          <div class="donate-cols">
            <div class="letter-field">
              Zip/Postal Code<span>*</span>
            </div>
            <input class="form-input" type="text" size="20" name="donate[zip]" />
          </div>
        </div>
          <div class="clear"></div>


        <div class="letter-field">
          Donation Type <span>*</span>
        </div>
        <input type="radio" class="type-picker subscribe-radio-button" name="donate[donation_type]" value="charge" checked><div class="subscribe-radio-subtext">One-time</div>
        <input type="radio" class="type-picker subscribe-radio-button" name="donate[donation_type]" value="recurring"><div class="subscribe-radio-subtext">Recurring</div>
      <div class="clear"></div>

      <div class="type-charge">

        <div class="letter-field"></div>
          <input type="radio" name="donate[amount]" value="25" class="subscribe-radio-button"><div class="subscribe-radio-subtext">$25</div>
          <input type="radio" name="donate[amount]" value="50" class="subscribe-radio-button"><div class="subscribe-radio-subtext">$50</div>
          <input type="radio" name="donate[amount]" value="100" checked class="subscribe-radio-button radio-button-clear"><div class="subscribe-radio-subtext">$100</div>
          <input type="radio" name="donate[amount]" value="500" class="subscribe-radio-button "><div class="subscribe-radio-subtext">$500</div>
          <input type="radio" name="donate[amount]" value="1000" class="subscribe-radio-button "><div class="subscribe-radio-subtext"> $1000</div>
          <div class="clear"></div>
          <div class="letter-field">
            Or enter a custom dollar amount: <span></span>
          </div>
           <input type="text" class="form-input" name="donate[custom_amount]" size="20" />
      </div>

      <div class="type-recurring" style="display:none;">
        <div class="letter-field"></div>
          <input type="radio" name="donate[plan]" value="mo_5" class="subscribe-radio-button"><div class="subscribe-radio-subtext">$5</div>
          <input type="radio" name="donate[plan]" value="mo_10" class="subscribe-radio-button"><div class="subscribe-radio-subtext">$10</div>
          <input type="radio" name="donate[plan]" value="mo_25" class="subscribe-radio-button"><div class="subscribe-radio-subtext">$25</div>
          <input type="radio" name="donate[plan]" value="mo_50" class="subscribe-radio-button"><div class="subscribe-radio-subtext">$50</div>         <div class="clear"></div>
      </div>


        <div class="letter-field">
          Card Number <span>*</span>
        </div>
          <input type="text" size="20" data-stripe="number" class="form-input"/>

          <div class="donate-cols-container">
          <div class="donate-cols">
            <div class="letter-field">
            Month (MM)<span>*</span>
            </div>
            <input type="text" size="2" data-stripe="exp-month" class="form-input"/>
           </div>
          <div class="donate-cols">
            <div class="letter-field">
              Year (YYYY)<span>*</span>
            </div>
            <input type="text" size="4" data-stripe="exp-year" class="form-input"/>
          </div>
          <div class="donate-cols">
            <div class="letter-field">
              CVC <span>*</span>
            </div>
            <input type="text" size="4" data-stripe="cvc" class="form-input"/>
          </div>
        </div>
      <div class="clear"></div>
      <input type="hidden" name='donate[inbound_via]' value="<%= params[:via] || 'unknown' %>" />
      <button type="submit" class="form-button donate-submit-button">Donate</button><div class="clear"></div>

    <% end %>

    <script>if (window.Stripe) $(".donation-form").show()</script>
    <noscript><p>JavaScript is required for the donation form.</p></noscript>

  </div>
</article>
</div>
