<div class="featured-container">
	<div class="featured-well featured-one" data-background-image="<%= photo_for_slot(@featured_block, 1) %>" >
		<div class="featured-tall">
			<div class="overlay" >
				<div class="container">
				<div class="featured-one-kicker">
					<%= link_to rubric_name(@featured_block, 1), rubric_path(@featured_block, 1) %>
				</div>
				<a href="<%= @featured_block.post_for_slot(1).featured_block_path(slot: '1', config: '100') %>" class="featured-link">
					<div class="featured-one-headline">
						<%= @featured_block.post_for_slot(1).metadata_provider.display_headline %>
					</div>
				</a>
					<div class="featured-one-byline">
						<%= render partial: 'public/post_byline', locals: { post: @featured_block.post_for_slot(1) } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
