<section class="stream-collection stream-collection-records">
<div class="topshelf-collection"
     data-placement="<%= params[:action] %>"
     data-default-tab="records"
     data-config="<%= {
      breakpoints: [
        {min: nil,  max: 600,  panes: 1}, # inclusive on both ends
        {min: 501,  max: 800,  panes: 2},
        {min: 801,  max: 1140, panes: 3},
        {min: 1141, max: nil,  panes: 4},
      ],
      gutter_width: 20
     }.to_json %>">
  <div class="topshelf-height-tester" style="position:absolute;left:-9999em;"></div>
  <div class="container topshelf-container">
    <div class="topshelf-wrapper">

      <div class="topshelf-controls left-controls">

        <div class="left-arrow">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 275.5 612 241" enable-background="new 0 275.5 612 241" xml:space="preserve"><g><line stroke="#000000" stroke-width="28" stroke-miterlimit="10" x1="37" y1="395.2" x2="606.3" y2="395.2"/><g><polygon points="0,394.2 125.2,277.5 145.2,300.3 42.7,394.2 145.2,491 125.2,510.9     "/></g></g></svg>
        </div>
      </div><!-- .topshelf-controls -->

      <% cache ['ts', 'stream', 'records', 'v1', Tag.order('updated_at DESC').first] do %>

      <!-- generated <%= Time.now.utc.to_f %> -->
      <div class="col8 ul-wrap">
        <ul class="topshelf-collection-promos records-items">

          <li>
            <div class="topshelf-inner no-photo title-card">
              <div class="overlay no-hover">
                <div class="link" data-updated="">
                  <b>The Record</b><a href="/records"></a>
                  <span class="title-card-desc">The <a href="/records">most popular topics</a> in criminal justice today</span>
                </div>
              </div>
            </div>
          </li>
        <% popular_tags, tag_cache = CollectionSummary.popular %>
        <% popular_tags.first(8).each do |tag_id, _count| %>
          <% tag = tag_cache.find(tag_id) %>
          <% if tag.featured_photo_id.present? %>
            <% photo_url = tag.featured_photo.url_for(size: '360x') %>
            <li>
              <div class="topshelf-inner" style="background-image: url('<%= photo_url %>')">
                <div class="overlay">
                  <div class="link" data-updated="">
                    <div class="logo">
                      <svg version="1.1" width="20px" height="20px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><g><g><polygon style="fill:#888888;" points="0,0 0,20 2.857,20 2.857,2.857 "></polygon><polygon style="fill:#888888;" points="5.714,5.714 5.714,20 8.571,20 8.571,8.571 "></polygon><polygon style="fill:#888888;" points="17.143,2.857 17.143,20 20,20 20,0 "></polygon><polygon style="fill:#888888;" points="11.429,8.571 11.429,20 14.286,20 14.286,5.714 "></polygon></g></g></svg>
                    </div>
                    <a class="collections-js-link" href='<%= collections_show_path(tag) %>' style="font-family: MillerBold;">
                      <%= tag.name %>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          <% else %>
            <li>
              <div class="topshelf-inner no-photo records-colors" style="background-image: url('<%= asset_url('collections-bg.png') %>'); background-size: initial !important; background-position: 100% !important;">
                <div class="overlay">
                  <div class="link" data-updated="">
                    <div class="logo">
                      <svg version="1.1" width="20px" height="20px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><g><g><polygon style="fill:#888888;" points="0,0 0,20 2.857,20 2.857,2.857 "></polygon><polygon style="fill:#888888;" points="5.714,5.714 5.714,20 8.571,20 8.571,8.571 "></polygon><polygon style="fill:#888888;" points="17.143,2.857 17.143,20 20,20 20,0 "></polygon><polygon style="fill:#888888;" points="11.429,8.571 11.429,20 14.286,20 14.286,5.714 "></polygon></g></g></svg>
                    </div>
                    <a class="collections-js-link" href='<%= collections_show_path(tag) %>' style="font-family: MillerBold;">
                      <%= tag.name %>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          <% end %>

        <% end %>

      </ul>
      </div><!-- .ul-wrap -->
      <% end %>

      <div class="topshelf-controls">
        <div class="right-arrow">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 275.5 612 241" enable-background="new 0 275.5 612 241" xml:space="preserve"><g><line stroke="#000000" stroke-width="28" stroke-miterlimit="10" x1="0" y1="395.2" x2="569.3" y2="395.2"/><g><polygon points="481.1,510.9 461.1,491 563.6,394.2 461.1,300.3 481.1,277.5 606.3,394.2     "/></g></g></svg>
        </div>
      </div><!-- .topshelf-controls -->

      <div class="nav-circles-wrapper">
      <div class="nav-circles"></div> <!-- JS! -->
      </div>

    </div><!-- .topshelf-wrapper -->
  </div><!-- .container -->
</div><!-- .stream-topshelf -->
</section>

<script>
  $(".stream-collection .overlay").click(function(){
    window.location = $(this).find("a").attr("href");
  })
</script>
