<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<div style="margin-bottom: 50px;">
  <%= image_tag(@photo.url_for(size: '740x')) %>
</div>
  <div class="field">
    <h4><%= f.label :caption %></h4>
    <%= f.text_area :caption, class: 'form-control', rows: '5' %>
  </div><br>
  <div class="field">
    <h4><%= f.label :byline %></h4>
    <%= f.text_area :byline, class: 'form-control' %>
  </div><br>
    <!--<div class="field">
    <h4><%= f.label :original_url %></h4>
    <%= f.text_area :original_url, class: 'form-control' %>
  </div><br>-->
  <div class="actions">
    <%= f.submit class: 'btn-success btn btn-block btn-lg' %>
  </div>
<% end %>
