<p id="notice"><%= notice %></p>

<h1>Listing Post Shareables</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Post</th>
      <th>Slug</th>
      <th>Photo</th>
      <th>Facebook headline</th>
      <th>Facebook description</th>
      <th>Twitter headline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_shareables.each do |post_shareable| %>
      <tr>
        <td><%= post_shareable.post_id %></td>
        <td><%= post_shareable.slug %></td>
        <td><%= post_shareable.photo_id %></td>
        <td><%= post_shareable.facebook_headline %></td>
        <td><%= post_shareable.facebook_description %></td>
        <td><%= post_shareable.twitter_headline %></td>
        <td><%= link_to 'Show', post_shareable %></td>
        <td><%= link_to 'Edit', edit_post_shareable_path(post_shareable) %></td>
        <td><%= link_to 'Destroy', post_shareable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post sharable', new_post_shareable_path %>
