<script>
$(document).ready(function() {
	var headlineEl = document.querySelector('.headline span');
	var getStyleProperty = function(el, prop) {
		return window.getComputedStyle(el, null).getPropertyValue(prop);
	}
	var getSize = function(el) {
		return parseInt(getStyleProperty(el, 'font-size'), 10);
	}
	var getWidth = function(el) {
		var rect = el.getBoundingClientRect();
		return rect.width;
	}

	var measureAtSize = function(el, size, callback) {
		el.style['font-size'] = size+'px';
		setTimeout(function() {
			callback(getWidth(el));
		}, 1);
	}
	var keepWithinRange = function(min, input, max) {
		return Math.max(min, Math.min(max, input));
	}
	var targetSize = 1138;
	var setupSize = function(el, ratio) {		
		var targetFontSize = targetSize / ratio[0];
		el.style['font-size'] = keepWithinRange(20, targetFontSize, 90)+'px';
	}

	var ratios = [];
	measureAtSize(headlineEl, 15, function(size){
		ratios.push(size/15);
		measureAtSize(headlineEl, 30, function(size){
			ratios.push(size/30);			
			setupSize(headlineEl, ratios);
		});
	});
});
</script>
 
<div class="collection">
	<div class="header">
		<div class="header-overlay">
			&nbsp;
		</div>
		<div class="container">
			<div class="branding">
				<div class="logo">
					<%= link_to collection_index_path do %>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 145.01 68" style="enable-background:new 0 0 145.01 68;" xml:space="preserve"><g><g><g><g><path style="fill:#FFFFFF;" d="M57.013,22.149c0,1.15-0.308,2.463-0.924,3.941c-0.616,1.478-1.414,2.797-2.393,3.959c-0.979,1.161-2.07,2.053-3.272,2.674c-1.203,0.622-2.449,0.933-3.739,0.933c-1.713,0-3.079-0.411-4.099-1.232c-1.02-0.821-1.531-1.935-1.531-3.343c0-0.504,0.029-0.959,0.088-1.364c0.059-0.405,0.211-1,0.458-1.786l4.715-14.761c0.363-1.091,0.545-1.894,0.545-2.411c0-0.446-0.205-0.756-0.616-0.932c-0.411-0.176-1.05-0.287-1.917-0.334l-1.073-0.035V6.737l7.864-0.37l-4.258,12.949l0.106,0.035c1.607-1.9,3.22-2.85,4.838-2.85c1.689,0,2.979,0.495,3.87,1.487C56.568,18.979,57.013,20.366,57.013,22.149z M53.635,21.427c0-2.463-0.792-3.695-2.375-3.695c-1.736,0-3.372,1.103-4.909,3.308l-2.551,8.005c0,2.545,0.997,3.818,2.991,3.818c1.044,0,2.082-0.548,3.114-1.645c1.032-1.097,1.912-2.604,2.639-4.522C53.272,24.779,53.635,23.023,53.635,21.427z"/><path style="fill:#FFFFFF;" d="M74.373,18.7c0,0.657-0.173,1.199-0.519,1.627c-0.346,0.428-0.795,0.642-1.346,0.642c-0.633,0-1.085-0.15-1.355-0.449c-0.27-0.299-0.405-0.654-0.405-1.064c0-0.399,0.234-0.833,0.704-1.302c0.082-0.082,0.123-0.164,0.123-0.246c0-0.164-0.017-0.284-0.053-0.361c-0.035-0.076-0.2-0.114-0.493-0.114c-0.939,0-2.258,1.548-3.959,4.645l-3.36,11.031h-3.237l3.607-11.524c0.187-0.622,0.349-1.214,0.484-1.777c0.135-0.563,0.202-0.944,0.202-1.144c0-0.528-0.085-0.877-0.255-1.047c-0.17-0.17-0.425-0.255-0.765-0.255c-0.692,0-1.32,0.331-1.883,0.994c-0.563,0.663-1.232,1.956-2.006,3.879l-0.721-0.264c0.657-1.583,1.22-2.715,1.689-3.395c0.469-0.68,0.985-1.196,1.548-1.548c0.563-0.352,1.19-0.528,1.883-0.528c0.938,0,1.683,0.322,2.234,0.967c0.551,0.645,0.827,1.537,0.827,2.674l0.141,0.035c0.786-1.232,1.369-2.038,1.751-2.419c0.381-0.381,0.8-0.686,1.258-0.915c0.457-0.229,0.979-0.343,1.566-0.343c0.692,0,1.255,0.208,1.689,0.625S74.373,18.067,74.373,18.7z"/><path style="fill:#FFFFFF;" d="M85.224,28.06c-0.868,2.135-1.686,3.577-2.454,4.328c-0.768,0.751-1.657,1.126-2.665,1.126c-1.138,0-2.047-0.252-2.727-0.757c-0.68-0.504-1.02-1.19-1.02-2.058c0-0.762,0.24-1.76,0.721-2.991l2.41-6.122c0.223-0.551,0.419-1.12,0.589-1.707c0.17-0.587,0.255-0.968,0.255-1.144c0-0.915-0.399-1.372-1.196-1.372c-0.727,0-1.384,0.355-1.97,1.065c-0.587,0.71-1.226,1.979-1.918,3.809l-0.686-0.264c0.68-1.63,1.249-2.777,1.707-3.439c0.457-0.663,0.961-1.167,1.513-1.513c0.551-0.346,1.184-0.519,1.9-0.519c0.997,0,1.847,0.284,2.551,0.853c0.704,0.569,1.056,1.305,1.056,2.208c0,0.598-0.375,1.812-1.126,3.642L80.104,28.5c-0.552,1.419-0.827,2.369-0.827,2.85c0,0.411,0.091,0.721,0.273,0.932c0.182,0.211,0.525,0.317,1.029,0.317c0.856,0,1.589-0.407,2.199-1.223c0.61-0.815,1.208-1.991,1.795-3.527L85.224,28.06z M85.664,9.587c0,0.751-0.217,1.364-0.651,1.839c-0.434,0.475-0.985,0.712-1.654,0.712c-0.598,0-1.05-0.196-1.355-0.589c-0.305-0.393-0.458-0.871-0.458-1.434c0-0.739,0.232-1.343,0.695-1.812c0.463-0.469,1.047-0.704,1.751-0.704c0.481,0,0.88,0.194,1.196,0.581C85.505,8.566,85.664,9.036,85.664,9.587z"/><path style="fill:#FFFFFF;" d="M100.649,18.912c0,0.962-0.369,1.871-1.108,2.727c-0.739,0.856-1.865,1.625-3.378,2.305c-1.513,0.68-3.167,1.167-4.961,1.46c-0.352,1.63-0.528,2.756-0.528,3.378c0,1.243,0.208,2.161,0.625,2.753c0.416,0.592,1.094,0.888,2.032,0.888c1.079,0,2.079-0.363,3-1.091c0.921-0.727,1.868-1.97,2.841-3.73l0.651,0.317c-2.006,3.8-4.352,5.7-7.038,5.7c-1.783,0-3.146-0.51-4.09-1.531c-0.944-1.02-1.416-2.434-1.416-4.24c0-1.161,0.299-2.478,0.897-3.95c0.598-1.472,1.375-2.768,2.331-3.888c0.956-1.12,2.035-1.985,3.237-2.595c1.202-0.61,2.483-0.915,3.844-0.915c0.903,0,1.639,0.22,2.208,0.66C100.364,17.601,100.649,18.184,100.649,18.912z M98.168,19.123c0-1.267-0.534-1.9-1.601-1.9c-0.915,0-1.859,0.698-2.833,2.094c-0.974,1.396-1.754,3.173-2.34,5.331c1.396-0.246,2.595-0.654,3.598-1.223c1.003-0.569,1.783-1.234,2.34-1.997C97.889,20.665,98.168,19.897,98.168,19.123z"/><path style="fill:#FFFFFF;" d="M120.648,9.393c0,0.446-0.182,0.859-0.545,1.24c-0.364,0.381-0.798,0.572-1.302,0.572c-0.563,0-1.038-0.15-1.425-0.449c-0.387-0.299-0.581-0.677-0.581-1.135c0-0.164,0.076-0.457,0.229-0.88c0.164-0.469,0.264-0.827,0.299-1.073c-0.094-0.27-0.199-0.44-0.316-0.51c-0.117-0.07-0.276-0.106-0.475-0.106c-1.161,0-2.176,0.613-3.044,1.839c-0.868,1.226-1.666,3.111-2.393,5.656l-0.721,2.534h4.539l-0.387,1.179h-4.469l-0.897,3.501c-1.572,6.17-2.672,10.09-3.299,11.761c-0.628,1.671-1.355,3.061-2.182,4.17c-0.827,1.109-1.827,2.038-3,2.789c-1.173,0.751-2.434,1.126-3.783,1.126c-1.173,0-2.073-0.244-2.701-0.73c-0.628-0.487-0.941-1.205-0.941-2.155c0-0.469,0.176-0.897,0.528-1.285c0.352-0.387,0.803-0.581,1.355-0.581c0.552,0,1.012,0.159,1.381,0.475c0.37,0.317,0.554,0.733,0.554,1.249c0,0.375-0.07,0.677-0.211,0.906c-0.141,0.229-0.322,0.495-0.545,0.8c0.035,0.246,0.132,0.413,0.29,0.501c0.158,0.088,0.302,0.132,0.431,0.132c1.255,0,2.325-0.563,3.211-1.689c0.886-1.126,1.762-3.085,2.63-5.876c0.868-2.791,1.941-6.785,3.219-11.981l0.774-3.114h-3.818l0.37-1.179h3.818l0.387-1.443c0.539-1.982,1.264-3.645,2.173-4.988c0.909-1.343,1.944-2.398,3.105-3.167c1.161-0.768,2.516-1.152,4.064-1.152c0.727,0,1.372,0.138,1.935,0.414c0.563,0.276,0.994,0.651,1.293,1.126C120.498,8.347,120.648,8.854,120.648,9.393z"/></g><g><path style="fill:#FFFFFF;" d="M33.907,10.456l-0.097,0.283h-1.098l-0.274,0.925c-0.265,0.865-0.416,1.382-0.452,1.551l-0.055,0.194c-0.073,0.24-0.11,0.395-0.11,0.465c0,0.107,0.025,0.185,0.076,0.234c0.051,0.049,0.132,0.074,0.245,0.074c0.208,0,0.393-0.101,0.553-0.302c0.161-0.201,0.313-0.486,0.456-0.856l0.165,0.051c-0.183,0.462-0.38,0.799-0.589,1.01c-0.21,0.211-0.443,0.317-0.699,0.317c-0.279,0-0.498-0.061-0.659-0.182c-0.16-0.121-0.241-0.283-0.241-0.486c0-0.124,0.027-0.284,0.082-0.48c0.055-0.196,0.139-0.486,0.251-0.87c0.113-0.384,0.205-0.695,0.279-0.931c0.073-0.237,0.147-0.474,0.22-0.714h-0.832l0.097-0.283h0.837l0.38-1.344h0.756l-0.401,1.344H33.907z"/><path style="fill:#FFFFFF;" d="M38.439,13.092c-0.206,0.507-0.399,0.852-0.581,1.035c-0.182,0.183-0.395,0.274-0.64,0.274c-0.276,0-0.499-0.061-0.67-0.182c-0.171-0.121-0.256-0.286-0.256-0.494c0-0.18,0.058-0.42,0.173-0.718c0.4-1.056,0.614-1.633,0.642-1.732c0.028-0.099,0.042-0.182,0.042-0.249c0-0.149-0.034-0.259-0.103-0.33s-0.18-0.106-0.332-0.106c-0.473,0-0.908,0.358-1.306,1.073l-0.82,2.641h-0.764l1.665-5.268c0.079-0.268,0.118-0.461,0.118-0.579c0-0.11-0.049-0.186-0.146-0.228c-0.097-0.042-0.249-0.068-0.454-0.076l-0.253-0.008V7.972l1.884-0.089L35.6,11.018l0.034,0.008c0.372-0.473,0.776-0.71,1.212-0.71c0.282,0,0.518,0.094,0.71,0.283c0.192,0.189,0.287,0.417,0.287,0.685c0,0.098-0.055,0.312-0.165,0.642l-0.477,1.272c-0.127,0.341-0.19,0.572-0.19,0.693c0,0.101,0.023,0.175,0.068,0.222c0.045,0.047,0.13,0.07,0.253,0.07c0.205,0,0.38-0.098,0.524-0.294c0.144-0.196,0.286-0.478,0.427-0.847L38.439,13.092z"/><path style="fill:#FFFFFF;" d="M42.093,10.895c0,0.231-0.089,0.449-0.266,0.655c-0.178,0.206-0.448,0.39-0.811,0.554c-0.363,0.163-0.76,0.28-1.191,0.351c-0.085,0.392-0.127,0.662-0.127,0.811c0,0.298,0.05,0.519,0.15,0.661c0.1,0.142,0.262,0.213,0.488,0.213c0.259,0,0.499-0.087,0.721-0.262c0.221-0.175,0.448-0.473,0.682-0.896l0.156,0.076c-0.482,0.913-1.045,1.369-1.69,1.369c-0.428,0-0.755-0.123-0.982-0.368c-0.227-0.245-0.34-0.584-0.34-1.018c0-0.279,0.072-0.595,0.215-0.948c0.144-0.354,0.33-0.665,0.56-0.934c0.229-0.269,0.489-0.477,0.777-0.623c0.289-0.147,0.596-0.22,0.923-0.22c0.217,0,0.393,0.053,0.53,0.158C42.024,10.58,42.093,10.721,42.093,10.895z M41.497,10.946c0-0.304-0.128-0.456-0.384-0.456c-0.22,0-0.447,0.168-0.68,0.503c-0.234,0.335-0.421,0.762-0.562,1.28c0.335-0.059,0.623-0.157,0.864-0.294c0.241-0.137,0.428-0.297,0.562-0.48S41.497,11.132,41.497,10.946z"/></g><g><line style="fill:#FFFFFF;" x1="29" y1="17" x2="41" y2="17"/><rect x="28.892" y="17" style="fill:#FFFFFF;" width="10.059" height="0"/></g></g></g><polyline style="fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" points="145.01,0 133.1,67 2.42,67 14.329,0 "/></g></svg>
					<% end %>
				</div>
			</div>
			<div class="headline">
				<span><%= clean_headline @tag.try(:name) %></span>
			</div>
			<div class="updated">
				This brief was last updated <%= @tag.updated_at.strftime("%A, %B %e, %Y at %l:%M %P").gsub('am', 'a.m.').gsub('pm', 'p.m.') %> ET
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="col4">
				<div class="col4-inner">
					<div class="related-tags">
 	 					<div class="related-tag-label">Related Collections</div>

						<% @tag.related_tags.each do |tag| %>
							<div class="related-tag-button">
							<%= link_to tag.try(:name), collection_path(tag.try(:slug) || '?'), class: 'related-tag-button-link' %>
							</div>
						<% end %>
						
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="col8">
				<div class="modules">
					<% if @tag.is_location? %>
						<div class="map">
							<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @tag.name %>&zoom=6&size=640x320">
						</div>
					<% end %>
				</div>

				<% @links.compact.each do |link| %>
				<div class="item" data-link-id="<%= link.id %>">
					<% if link.present? and link.photo.present? %>
						<div class="image" class="bg-image" style="background-image:url(<%= link.photo.url_for(size: '360x') %>);">
					<% else %>
						<div class="image" class="no-bg-image">
					<% end %>

						<div class="image-overlay">
						</div>
						<div class="icon">
							<svg version="1.1" width="20px" height="20px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve"><g><path style="fill:#888888;" d="M11.155,17.778v-2.222h2.178v2.222c0,0.593-0.216,1.111-0.645,1.556c-0.43,0.444-0.956,0.667-1.577,0.667H2.222c-0.593,0-1.112-0.222-1.556-0.667C0.222,18.889,0,18.371,0,17.778V2.222C0,1.6,0.222,1.075,0.667,0.645C1.111,0.216,1.629,0,2.222,0h8.889c0.622,0,1.147,0.216,1.577,0.645c0.429,0.43,0.645,0.956,0.645,1.577v3.333h-2.178V2.222H2.222v15.556H11.155z M20,10.533l-4.4,4.356v-2.667h-10V8.889h10V6.222L20,10.533z"/></g></svg>
						</div>
					</div>
					<div class="text">
						<div class="text-inner">
							<div class="publication">
								<%= link.domain.gsub(/^www./, '') %><span></span>
							</div>
							<div class="headline"><%= link_to clean_headline(link.display_title), link.url %></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<% end %>

			</div>
		</div>	
	</div>
</div>

<script> 
$(document).ready(function(){
	var photoHeight = parseInt($('.image').height(), 10);
	$(".collection .content .item").each(function( index ){
		var $this = $(this);
		var textHeight = $this.find(".text-inner").height();
		if (textHeight < photoHeight) {
			$this.find(".text-inner").addClass("text-vertical-center");
			$this.find(".text").css("height", photoHeight +"px");
		}
		var subheadlineLength = $this.find(".sub-headline").text().length; 
		if (subheadlineLength >= 160) {
			$this.find(".sub-headline").text(
				$this.text().substr(0,300)+' ...'
			);
		}
		$this.hover(function(){
			$this.find(".headline a").toggleClass("headline-hover");
			$this.find(".image-overlay").toggleClass("overlay");
		});
		$this.click(function(){
			window.location.href = $this.find("a:first").attr("href");
		});
	});
});
</script>
